.panel {
  width: 100%;
  height: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: 33% 33% 30%;
  gap: 20px;
}

.contenedor {
  border: 5px solid rgb(164, 164, 164);
  padding: 10px;
}

.titulo_bloque {
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.cajon_mascota_titulo {
  display: grid;
  grid-template-columns: 30% 20% 20% 20%;
  gap: 5px;
  padding: 6px;
  margin-bottom: 10px;
  font-weight: bold;
}

.cajon_mascota {
  display: grid;
  grid-template-columns: 30% 20% 20% 20%;
  gap: 5px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: rgb(153, 212, 212);
  border-radius: 5px;
}

.cajon_propietario_titulo {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.cajon_propietario {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 5px;
  margin-bottom: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: rgb(176, 153, 212);
  border-radius: 5px;
}

.cajon_parentesco {
  display: grid;
  grid-template-columns: 32% 32% 30%;
  gap: 5px;
  margin-bottom: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: rgb(153, 212, 180);
  border-radius: 5px;
}

.cajon_parentesco_titulo {
  display: grid;
  grid-template-columns: 32% 32% 30%;
  gap: 5px;
  margin-bottom: 10px;
  padding: 6px;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  cursor: pointer;
  border-radius: 8px;
}


/* CSS FOR BUTTON DELETE*/
.button-53 {
  background-color: #e73d3d;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 3px 10px;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 60px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 3px;
  left: 3px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 1px;
  left: 1px;
}

@media (min-width: 70px) {
  .button-53 {
    padding: 3px 10px;
    font-size: 12px;
  }
}


/* CSS FOR BUTTON SAVE */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}